/* setting up variables (e.g. set colour scheme) to be called later */
/* Example for how to call a variable --> color: var(--primaryFont); */
:root {
    --background: rgb(252, 251, 248);
    --primary: rgb(32, 96, 75);
    --secondary: rgb(224, 235, 225);
    --fontColor: rgb(32, 41, 35);
    --accent: rgb(228, 204, 238);
    --accentSecondary: rgb(233, 229, 166);

    --disabledBackground: rgb(224, 224, 224);
    --disabledBackgroundHover: rgb(178, 178, 178);
    --disabledFont: rgb(44, 44, 44);
    /* --hover: rgb(32, 158, 148); */
}

body {
    color: var(--fontColor); /* sets font colour */
}

/* Font styling, source: Google Font */
.heading {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.regular {
    font-family: "Anek Telugu", sans-serif;
    /* font-optical-sizing: auto; */
    font-size: 20pt;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.bold {
    font-family: "Anek Telugu", sans-serif;
    /* font-optical-sizing: auto; */
    font-size: 20pt;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.caption {
    font-family: "Anek Telugu", sans-serif;
    /* font-optical-sizing: auto; */
    font-size: 15pt;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Button styling */
button, #submitButton {
    padding: 15px 45px;
    border-radius: 4px;
    border-style: none;
    /* text-align: center; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
button.active, #submitButton {
    background-color: var(--primary);
    color: var(--background);
    border: var(--primary) solid 2px;
}
button.active:hover, #submitButton:hover {
    background-color: var(--fontColor);
    border: var(--fontColor) solid 2px;
}

button.disabled {
    background-color: var(--disabledBackground);
    color: var(--disabledFont);
    border: var(--disabledBackground) solid 2px;
}
button.disabled:hover {
    background-color: var(--disabledBackgroundHover);
    border: var(--disabledBackgroundHover) solid 2px;
}

button.alt {
    background-color: var(--background);
    color: var(--primary);
    border: var(--primary) solid 2px;
}
/* Buttons with icons */
button.icon {
    background-color: var(--background);
    color: var(--primary);
    border: var(--primary) solid 2px;
    width: auto;
}
button.icon img {
    margin-left: 15px;
    vertical-align: middle;
    height: 20px;
    width: auto;
    filter: invert(29%) sepia(20%) saturate(1291%) hue-rotate(109deg) brightness(96%) contrast(87%); /* source: https://codepen.io/sosuke/pen/Pjoqqp && https://medium.com/@chilakaemmanuel/changing-svg-image-color-loaded-through-img-tag-with-css-3-filters-c8e912f52dd3*/
}
button.alt:hover, button.icon:hover {
    background-color: var(--secondary);
}

/* Link styling */
a {
    color: var(--primary);
}
a:visited {
    text-decoration: none;
}
a:hover {
    color: var(--fontColor);
}

/* Form styling */
form {
    width: 75vw;
    padding: 25px;
    border: var(--primary) solid 2px;
    border-radius: 4px;
    background: var(--background);
}
form div {
    margin-bottom: 10px;
}
input[type=text], select {
    width: 75%;
    padding: 15px 25px;
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--background);
    border: var(--disabledBackground) solid 1px;
}
input:focus {
    background-color: var(--secondary);
    border: var(--primary) solid 1px;
}

/* Set up for the colour palette */
.palette {
    display: inline-flex;
}
.box {
    height: 150px;
    width: 250px;
    margin-right: 15px;
    border: rgb(102, 102, 102) solid;
}
.box p {
    display: flex;
    margin-left: 10px;
}
#paletteBackground {
    background-color: var(--background);
}
#palettePrimary {
    background-color: var(--primary);
}
#palettePrimary p {
    color: white;
}
#paletteSecondary {
    background-color: var(--secondary);
}
#paletteFont {
    background-color: var(--fontColor);
}
#paletteFont p {
    color: white;
}
#paletteAccent {
    background-color: var(--accent);
}
#paletteAccentSecondary {
    background-color: var(--accentSecondary);
}