/* setting up variables (e.g. set colour scheme) to be called later */
/* Example for how to call a variable --> color: var(--primaryFont); */
:root {
    --background: rgb(252, 251, 248);
    --primary: rgb(13, 93, 90);
    --secondary: rgb(194, 232, 157);
    --fontColor: rgb(32, 41, 35);
    --accent: rgb(228, 204, 238);
    --accentSecondary: rgb(233, 229, 166);
    --accentSecondaryHover: rgb(230, 210, 140);
    --purple: rgb(158, 84, 201);
    --green: rgb(172, 207, 138);
    --blue: rgb(231, 245, 255);
    --blueText: rgb(44, 67, 113);

    --disabledBackground: rgb(224, 224, 224);
    --disabledBackgroundHover: rgb(178, 178, 178);
    --disabledFont: rgb(44, 44, 44);
    
    --locationRepair: rgb(1, 1, 1);
    --locationRequest: rgb(255, 61, 32);
    --locationAvailable: rgb(154, 216, 127);
}

body {
    color: var(--fontColor); /* sets font colour */
    background-color: var(--background); /* sets background colour*/
    /* the below makes it so there is no white gap on the edge */
    margin: 0px;
    padding: 0px;
}
main {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
article {
    padding: 10px;
    margin: 5px;
    justify-self: center;
    /* border: var(--disabledBackground) solid 2px; */
    /* flex: 1 1 10vw; */
}

/* ---- NAVIGATION BAR STYLING ---- */
header {
    background-color: var(--primary);
    height: 75px;
    width: 100%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
header h2 {
    margin-left: 0.5vw;
    color: var(--secondary);
}
.navLogo {
    align-self: center;
    /* margin-left: 1vw; */
    position: relative;
    right: -2vw;
    display: flex;
    text-decoration: none;
}
.navLogo:hover {
    text-decoration: none;
}
.navLogo img {
    margin-right: 20px;
}
.navBarItems {
    display: flex;
    justify-content: space-between;
    align-self: center;
    position: relative;
    left: -1vw;
}
.navBarItems a {
    color: var(--background);
    text-align: center;
    text-decoration: none;
    padding: 15px 40px;
    margin: 0 10px;
    border-bottom: var(--primary) solid 2px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
}
/* .navBarItems a img {
    filter: invert(96%) sepia(2%) saturate(367%) hue-rotate(336deg) brightness(104%) contrast(97%);
    align-self: center;
    margin-left: 15%;
} */
/* Use a.activeNav to highlight the active page you are on */
.navBarItems a:hover, a.activeNav {
    /* background-color: var(--primary); */
    border-bottom: var(--secondary) solid 2px;
    color: var(--secondary);
    /* text-decoration: underline; */
}
.navBarContainer .hamburgerMenu {
    display: none;
    background-color: red;
}

/*  ---- FONT STYLING, Source: Google Fonts ---- */
/* Heading font */
.heading, h1 {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30pt;
  }
.subheading, h2 {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25pt;
  }
/* Regular body font */
.body, p {
    font-family: "Anek Telugu", sans-serif;
    /* font-optical-sizing: auto; */
    font-size: 20pt;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
/* Regular body font, bolded */
.bold {
    font-family: "Anek Telugu", sans-serif;
    /* font-optical-sizing: auto; */
    font-size: 20pt;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
/* Regular body font, caption size */
.caption {
    font-family: "Anek Telugu", sans-serif;
    /* font-optical-sizing: auto; */
    font-size: 15pt;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/*  ---- BUTTON STYLING ---- */
button, #submitButton {
    padding: 15px 40px;
    border-radius: 5px;
    border-style: none;
    margin: 5px;
    /* text-align: center; */
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
button.active, #submitButton {
    background-color: var(--primary);
    color: var(--background);
    border: var(--primary) solid 2px;
}
button.active:hover, #submitButton:hover {
    background-color: var(--fontColor);
    border: var(--fontColor) solid 2px;
}

button.disabled {
    background-color: var(--disabledBackground);
    color: var(--disabledFont);
    border: var(--disabledBackground) solid 2px;
}
button.disabled:hover {
    background-color: var(--disabledBackgroundHover);
    border: var(--disabledBackgroundHover) solid 2px;
}

button.alt {
    background-color: var(--background);
    color: var(--primary);
    border: var(--primary) solid 2px;
}
/* Buttons with icons */
button.icon {
    background-color: var(--background);
    color: var(--primary);
    border: var(--primary) solid 2px;
    width: auto;
}
button.icon img {
    margin-left: 25px;
    vertical-align: middle;
    height: 20px;
    width: auto;
    filter: invert(29%) sepia(20%) saturate(1291%) hue-rotate(109deg) brightness(96%) contrast(87%); /* source: https://codepen.io/sosuke/pen/Pjoqqp && https://medium.com/@chilakaemmanuel/changing-svg-image-color-loaded-through-img-tag-with-css-3-filters-c8e912f52dd3*/
}
button.backButton img {
    margin-left: 0px;
    margin-right: 25px;
    vertical-align: middle;
}
button.alt:hover, button.icon:hover {
    background-color: var(--secondary);
}

/* ---- LINK STYLING ---- */
a {
    color: var(--primary);
}
a:visited {
    text-decoration: none;
}
a:hover {
    color: var(--fontColor);
}

/* ---- FORM STYLING ---- */
form {
    width: 75vw;
    padding: 25px;
    border: var(--primary) solid 2px;
    border-radius: 5px;
    background: var(--background);
}
form div {
    margin-bottom: 10px;
}
/* possible alt input styling, requires commenting out other border css below */
/* input[type=text], select {
    border-style: none;
    border-bottom: var(--disabledBackground) solid 2px;
}
input:focus, select:focus {
    background-color: var(--secondary);
    border-style: none;
    border-bottom: var(--primary) solid 2px;
} */
input[type=text], select {
    width: 75%;
    padding: 15px 25px;
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--background);
    border: var(--disabledBackground) solid 1.5px;
}
input:focus, select:focus {
    background-color: var(--secondary);
    border: var(--primary) solid 1.5px;
}

/* ---- HOMEPAGE (index.html) STYLING ---- */
.introduction {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.introduction h1 {
    color: var(--primary);
    font-weight: bold;
    font-size: 45pt;
}
.introduction button {
    align-self: center;
}
button.download {
    font-weight: 600; /* sets text to bold */
    background-color: var(--secondary);
    color: var(--primary);
} 
button.download img {
    filter: invert(28%) sepia(87%) saturate(370%) hue-rotate(129deg) brightness(90%) contrast(101%);
}
/* button.download:hover {
    background-color: var(--primary);
    color: var(--background);
} */
/* use this setting if the button is in the nav bar */
button.download:hover {
    text-decoration: underline; 
}
.featureContainer {
    display: flex;
    height: fit-content;
    justify-content: space-evenly;
    width: 92vw;
}
.feature {
    margin: auto 15px;
    padding: 25px 20px;
    height: 40vh;
    /* border: solid var(--secondary) 2px; */
    /* flex: 1 1 33vw; */
    /* display: flex; */
}
/* different to button.icon styling for specific selected colouring */
.feature button {
    width: auto;
}
.feature button img {
    margin-left: 25px;
    vertical-align: middle;
    height: 20px;
    width: auto;
}

/* the following feature "f" containers and styling uses position: relative and specific % values to create the desired overlap effect */
.fPurpleContainer>img {
    position: relative;
    right: -30%;
}
.fPurple {
    filter: drop-shadow(0px 3px 2px var(--disabledBackgroundHover));
    background-color: var(--accent);
    color: var(--fontColor);
    border: var(--accent) solid 2px;
    position: relative;
    top: -10%;
    left: -3%;
}
.fPurple:hover {
    background-color: var(--purple);
    border: var(--purple) solid 2px;
}
.fAssistContainer {
    position: relative;
    padding-bottom: 15px;
    padding-right: 35px;
}
.fAssist {
    filter: drop-shadow(0px 3px 2px var(--disabledBackgroundHover));
    background-color: var(--secondary);
    color: var(--primary);
    justify-content: end;
    position: absolute;
    left: 46.5%;
    top: 68%;
}
.fAssist img {
    filter: invert(28%) sepia(87%) saturate(370%) hue-rotate(129deg) brightness(90%) contrast(101%);
}
.fAssist:hover {
    background-color: var(--green);
    /* color: var(--background); */
    text-decoration: none;
}
.fDonateContainer {
    margin-top: 28px;
    position: relative;
    top: 10%;
}
.fDonateContainer>img {
    position: relative;
    right: -35%;
}
.fDonate {
    filter: drop-shadow(0px 3px 2px var(--disabledBackgroundHover));
    background-color: var(--primary);
    color: var(--background);
    border: var(--primary) solid 2px;
    position: absolute;
    top: 80%;
    left: -8%;
}
.fDonate:hover {
    background-color: var(--fontColor);
    border: var(--fontColor) solid 2px;
}
.fDonate img {
    filter: invert(97%) sepia(2%) saturate(229%) hue-rotate(9deg) brightness(102%) contrast(98%);
}
.fYellowContainer>img {
    position: relative;
    right: -20%;
    z-index: -1;
}
.fYellow {
    filter: drop-shadow(0px 3px 2px var(--disabledBackgroundHover));
    background-color: var(--accentSecondary);
    color: var(--fontColor);
    border: var(--accentSecondary) solid 2px;
    position: relative;
    top: 5%;
}
.fYellow:hover {
    background-color: var(--accentSecondaryHover);
    border: var(--accentSecondaryHover) solid 2px;
}

/* Homepage Extension Information Styling */
.extContainer {
    margin-top: 15px;
    width: 92vw;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.extContent {
    margin-right: 8px;
    max-width: 48vw;
}
.extContent h2 {
    color: var(--primary);
}

/* styling for the extension image and download button */
.extFeature {
    margin-left: 8px;
}
.extFeature>img {
    height: 375px;
    width: auto;
    position: relative;
    right: -10%;
}
.extFeature>button {
    filter: drop-shadow(0px 3px 2px var(--disabledBackgroundHover));
    position: relative;
    top: -0.05%;
    left: -15%;
}
.chromeIcon {
    margin-left: 25px;
    vertical-align: middle;
    height: 20px;
    width: auto;
    filter: invert(11%) sepia(77%) saturate(6523%) hue-rotate(174deg) brightness(87%) contrast(90%);
}

/* styling for the 'sustainability news' section under homepage */
.news {
    margin-top: 20px;
    width: 92vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.news h2 {
    color: var(--primary);
}
.cards {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.newsCard {
    max-width: 29vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 0 5px;
    background-color: var(--background);
    border: solid var(--disabledBackgroundHover) 2px;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 3px var(--disabledBackgroundHover)); /* creates drop shadow to outline the news card; Generator source: https://webcode.tools/css-generator/drop-shadow*/
}
/* styling the read more button */
.newsCard a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 15px;
    width: 95%;
    max-width: 25vw;
    background-color: var(--fontColor);
    color: var(--background);
    border-radius: 5px;
}
.newsCard a:hover {
    text-decoration: underline;
}
.readMore {
    background-color: var(--fontColor);
    color: var(--background);
}
.newsCard figure {
    width: 100%;
    max-width: 29vw;
    margin-top: 0px;
}
.newsCard figure img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}
/* styling for news headline */
.newsCard figcaption {
    font-weight: 400;
    margin: 3% 7% 0 7%;
}

/* Source: https://uiverse.io/ArturCodeCraft/afraid-fish-22 */
.scrollContainer {
    max-width: 50%;
}

.scrollContainer .scrollBox {
    animation: scroll-down 2s infinite;
    position: inherit;
    width: 5vw;
}

/* Animating the scroll icon */
@keyframes scroll-down {
    0%, 100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    35% {
        transform: translateY(1rem);
        opacity: 0;
    }

    70% {
        transform: translateY(-1rem);
        opacity: 0;
    }
}

/* ---- MENDER MAP STYLING (map.html) ---- */
.menderMap {
    background-color: var(--background);
    border: var(--disabledBackgroundHover) solid 2px;
    border-radius: 15px;
    filter: drop-shadow(0px 4px 2px var(--disabledBackgroundHover));
}

#map {
    height: 75vh;
    width: 90vw;
}

/* ---- PROFILE PAGE STYLING (profile.html) ---- */
#profilePage {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* ---- PROFILE PAGE SIDE BAR ---- */
.sideContainer {
    border-right: var(--disabledBackgroundHover) solid 2px;
    height: 85vh;
    display: flex;
    flex-direction: column;
}
.pActive {
    background-color: var(--accent);
    border-radius: 5px;
    color: var(--purple);
    font-weight: 600;
}
.pActive:hover {
    color: var(--purple);
}
.sideContainer a {
    text-decoration: none;
    margin: 10px 15px;
    padding: 10px 15px;
}
.sideContainer a:hover {
    text-decoration: underline;
}

/* PROFILE PAGE MAIN CONTENT */
.profileContainer, .materialContainer, .resourcesContainer {
    height: 85vh;
    width: 78vw;
    margin-left: 25px;
}

.pHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.profileTagsContainer {
    display: flex;
    flex-direction: row;
    padding-right: 25vw;
}
.profilePicture {
    margin-right: 45px;
}

/* profile edit button */
.editButton {
    max-height: 55px;
    display: flex;
    margin-top: 15px;
    background-color: var(--disabledBackground);
}
.editButton:hover {
    background-color: var(--disabledBackgroundHover);
}
.editButton img {
    margin-left: 25px;
    vertical-align: middle;
    height: 20px;
    width: auto;
}

/* profile verification and skill tags */
.pTag {
    padding: 8px 15px;
    border-radius: 7px;
    font-size: 15pt;
    text-align: center;
    margin-top: 0px;
}
.pTagContainer {
    display: flex;
    justify-content: flex-start;
}
.tagVerify {
    background-color: var(--blue);
    color: var(--blueText);
    margin-right: 8px;
}
.tagVerify img {
    filter: invert(24%) sepia(39%) saturate(874%) hue-rotate(182deg) brightness(90%) contrast(91%);
    margin-right: 15px;
    vertical-align: middle;
    height: 20px;
    width: auto;
}
.tagSkill {
    background-color: var(--secondary);
    color: var(--primary);
    margin-left: 8px;
}
.tagSkill img {
    filter: invert(29%) sepia(15%) saturate(2360%) hue-rotate(129deg) brightness(91%) contrast(90%);
    margin-right: 15px;
    vertical-align: middle;
    height: 20px;
    width: auto;
}

.profilePicture {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    overflow: hidden;
}
.profilePicture img {
    height: 100%;
    width: auto;
}
.nameNTags h2 {
    margin-top: 50px;
}

/* profile information styling */
.pInformation{
    display: flex;
    flex-direction: column;
}
#personalInformationTitle {
    margin-top: 35px;
}
.pInformation p {
    margin: 0px;
}
.contactInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 35px 0px;
}

.infoTag {
    background-color: var(--disabledBackground);
    padding: 10px 10px 10px 20px;
    border-radius: 3px;
}
#infoPhone {
    margin-right: 15px;
    width: 35vw;
}
#infoEmail {
    margin-left: 15px;
    width: 100%;
}
#infoPreference, #infoAddress {
    width: 100%;
    margin-bottom: 35px;
}

/* ---- PROFILE PAGE MATERIALS INFORMATION ---- */
.materialHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.materialCardContainer {
    display: flex;
    flex-direction: row;
}
.materialCardContainer>div {
    margin-right: 20px;
    background-color: var(--background);
    filter: drop-shadow(0px 2px 2px var(--disabledBackgroundHover));
}
.recentContainer {
    margin-bottom: 25px;
}
.recentContainer>p {
    margin-top: 0px;
}
.recentContainer>p, .previousContainer>p {
    margin-bottom: 10px;
}

/* All material card styling */
.materialCardNew, .materialCardAvailable, .materialCardRequest {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 25vw;
    max-height: 30vh;
    justify-content: space-between;
}
/* Recently added material card */
.materialCardNew {
    border: var(--locationAvailable) solid 3px;
}
.dotAvailable, .dotRequest {
    display: inline-flex;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.dotAvailable {
    background-color: var(--locationAvailable);
}
.dotRequest {
    background-color: var(--locationRequest);
}
.matInfoContainer {
    margin: 0px 15px 10px 15px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}
.matName {
    margin-top: 0px;
    margin-bottom: 10px;
}
.matInfo p {
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* label icons below */
.matInfoContainer img {
    height: auto;
    width: 20px;
}
.dotAvailable, .dotRequest, .matInfoContainer img {
    margin-right: 15px;
}

/* thumbnail of material card */
.matPicContainer {
    width: 100%;
    height: 35%;
}
.matPic {
    border-radius: 15px 15px 0 0;
    align-self: center;
    justify-self: flex-end;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Available material card */
/* Requested material card */
/* .materialCardAvailable, .materialCardRequest {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    max-width: 25vw;
    max-height: 30vh;
    justify-content: space-between;
} */
.materialCardAvailable {
    border: var(--locationAvailable) solid 3px;
}
.materialCardRequest {
    border: var(--locationRequest) solid 3px;
}

/* PROFILE PAGE SAVED RESOURCES */
/* .resourcesContainer {
    border: red solid 2px;
} */
.resourcesHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;
}
.resourceCardContainer {
    display: flex;
    flex-direction: row;
}

/* styling for each resource card */
.resource {
    border: var(--purple) solid 3px;
    border-radius: 20px;
    background-color: var(--background);
    filter: drop-shadow(0px 2px 2px var(--disabledBackgroundHover));
    display: flex;
    flex-direction: column;
}
.rTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 15px;
}
.bookmarkIcon {
    height: 35px;
    align-self: center;
}
.rThumbnail {
    align-self: center;
}
.rThumbnail img {
    border-radius: 5px;
}
.rTags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* styling each individual tag */
.rTags p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 15px;
    padding: 5px 10px;
    background-color: var(--accent);
    border-radius: 5px;
}
.rTags img {
    height: 20px;
    width: auto;
    margin-right: 15px;
}

/* Profile page default states */
/* comment out profileContainer */
/* #profileContainer {
    display: none;
} */
#materialContainer {
    display: none;
}
#resourcesContainer {
    display: none;
}

/* ---- Location marker styling ---- */
.locationRepair, .locationRequest, .locationAvailable {
    margin: 15px;
}
/* The following applies the respective red and green colours to the location markers, as designed */
.locationRequest {
    filter: invert(37%) sepia(62%) saturate(5158%) hue-rotate(348deg) brightness(100%) contrast(101%);
}
.locationAvailable {
    filter: invert(90%) sepia(12%) saturate(1402%) hue-rotate(47deg) brightness(89%) contrast(91%);
}

/*  ---- Responsive styling ---- */
@media screen and (max-width: 840px){
    body {
        background-color: red;
    }
    .heading {
        font-size: 28px;
    }
    .subheading {
        font-size: 23px;
    }
    .body, .bold {
        font-size: 18px;
    }
}

@media screen and (max-width: 650px){
    body {
        background-color: blue;
    }
    header {
        padding-top: 2px;
        padding-bottom: 5px;
    }
    .navLogo h2{
        width: 175px;
    }
    .navBarItems a {
        padding: 5px 20px;
        margin: 0 10px;
    }
    /* .navBarContainer a:not(:first-child) {
        display: none;
    } */
    .navBarItems a:not(:last-child){
        display: none;
    }
    .navBarContainer a.hamburgerMenu {
        float: right;
        display: block;
    }
    .navBarContainer.responsive {
        position: relative;
    }
    .navBarContainer.responsive .hamburgerMenu {
        position: absolute;
        right: 0;
        left: 0;
    }
    .navBarContainer.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* FORM CSS */
.repair-assistant-background {
    background-image: url('images//imgs/repairAssistantBackground.jpg'); /* Path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.secondhand-hub-background {
    background-image: url('images/imgs/secondhandHubBackground.jpg'); /* Path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

dialog {
    background-color: #f0f0f0; /* Background color of the dialog */
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    color: black; /* Text color inside the dialog */
    position: relative;
    z-index: 1; /* Ensure the dialog appears above the background */
}