/*-----------------------------------------------
-
- VERO'S ORIGINAL CSS FOR BRAND STYLING
-
------------------------------------------------*/

/* setting up variables (e.g. set colour scheme) to be called later */
/* Example for how to call a variable --> color: var(--primaryFont); */
:root {
    --background: rgb(252, 251, 248);
    --primary: rgb(13, 93, 90);
    --secondary: rgb(194, 232, 157);
    --fontColor: rgb(32, 41, 35);
    --accent: rgb(228, 204, 238);
    --accentSecondary: rgb(233, 229, 166);
    --accentSecondaryHover: rgb(230, 210, 140);
    --purple: rgb(158, 84, 201);

    --disabledBackground: rgb(224, 224, 224);
    --disabledBackgroundHover: rgb(178, 178, 178);
    --disabledFont: rgb(44, 44, 44);
    
    --locationRepair: rgb(1, 1, 1);
    --locationRequest: rgb(255, 61, 32);
    --locationAvailable: rgb(154, 216, 127);
}

body {
    color: var(--fontColor); /* sets font colour */
    background-color: var(--background); /* sets background colour*/
    /* the below makes it so there is no white gap on the edge */
    margin: 0px;
    padding: 0px;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
article {
    padding: 10px;
    margin: 5px;
    /* border: var(--disabledBackground) solid 2px; */
    /* flex: 1 1 10vw; */
}

/* Nav bar styling */
header {
    background-color: var(--primary);
    height: 75px;
    width: 100vw;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
header h2{
    margin-left: 0.5vw;
    color: var(--secondary);
}

/* Heading font */
.heading {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30pt;
  }
.subheading {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20pt;
    margin: 0;
  }
/* Regular body font */
.body {
    font-family: "Anek Telugu", sans-serif;
    /* font-optical-sizing: auto; */
    font-size: 20pt;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
/* Regular body font, bolded */
.bold {
    font-family: "Anek Telugu", sans-serif;
    /* font-optical-sizing: auto; */
    font-size: 20pt;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
/* Regular body font, caption size */
.caption {
    font-family: "Anek Telugu", sans-serif;
    /* font-optical-sizing: auto; */
    font-size: 15pt;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Button styling */
button, #submitButton {
    padding: 15px 40px;
    border-radius: 4px;
    border-style: none;
    margin: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
button.active, #submitButton {
    background-color: var(--primary);
    color: var(--background);
    border: var(--primary) solid 2px;
}

button.active:hover, #submitButton:hover {
    background-color: var(--fontColor);
    border: var(--fontColor) solid 2px;
}

button.disabled {
    background-color: var(--disabledBackground);
    color: var(--disabledFont);
    border: var(--disabledBackground) solid 2px;
}
button.disabled:hover {
    background-color: var(--disabledBackgroundHover);
    border: var(--disabledBackgroundHover) solid 2px;
}

button.alt {
    background-color: var(--background);
    color: var(--primary);
    border: var(--primary) solid 2px;
}
/* Buttons with icons */
button.icon {
    background-color: var(--background);
    color: var(--primary);
    border: var(--primary) solid 2px;
    width: auto;
} 
button.icon img {
    margin-left: 25px;
    vertical-align: middle;
    height: 20px;
    width: auto;
    filter: invert(29%) sepia(20%) saturate(1291%) hue-rotate(109deg) brightness(96%) contrast(87%);
}
button.backButton img {
    margin-left: 0px;
    margin-right: 25px;
    vertical-align: middle;
}
button.alt:hover, button.icon:hover {
    background-color: var(--secondary);
}

/* Link styling */
a {
    color: var(--primary);
}
a:visited {
    text-decoration: none;
}
a:hover {
    color: var(--fontColor);
}

input:focus, select:focus {
    background-color: var(--secondary);
    border-style: none;
    border-bottom: var(--primary) solid 2px;
}
input[type=text], input[type=date], select {
    width: 100%;
    padding: 15px 25px;
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--background);
    border: var(--disabledBackground) solid 1.5px;
}
input:focus, select:focus {
    background-color: var(--secondary);
    border: var(--primary) solid 1.5px;
}

/* Homepage features styling */
.introduction h1 {
    color: var(--primary);
}
button.download {
    font-weight: 600; /* sets text to bold */
    background-color: var(--secondary);
    color: var(--primary);
} 
button.download img {
    filter: invert(28%) sepia(87%) saturate(370%) hue-rotate(129deg) brightness(90%) contrast(101%);
}
button.download:hover {
    background-color: var(--primary);
    color: var(--background);
}

.fPurple {
    background-color: var(--accent);
    color: var(--fontColor);
    border: var(--accent) solid 2px;
}
.fPurple:hover {
    background-color: var(--purple);
    border: var(--purple) solid 2px;
}
.fGreen {
    background-color: var(--primary);
    color: var(--background);
    border: var(--primary) solid 2px;
}
.fGreen:hover {
    background-color: var(--fontColor);
    border: var(--fontColor) solid 2px;
}
.fGreen img {
    filter: invert(97%) sepia(2%) saturate(229%) hue-rotate(9deg) brightness(102%) contrast(98%);
}
.fYellow {
    background-color: var(--accentSecondary);
    color: var(--fontColor);
    border: var(--accentSecondary) solid 2px;
}
.fYellow:hover {
    background-color: var(--accentSecondaryHover);
    border: var(--accentSecondaryHover) solid 2px;
}

/* Location marker styling */
.locationRepair, .locationRequest, .locationAvailable {
    margin: 15px;
}
/* The following applies the respective red and green colours to the location markers, as designed */
.locationRequest {
    filter: invert(37%) sepia(62%) saturate(5158%) hue-rotate(348deg) brightness(100%) contrast(101%);
}
.locationAvailable {
    filter: invert(90%) sepia(12%) saturate(1402%) hue-rotate(47deg) brightness(89%) contrast(91%);
}





/*-----------------------------------------------
-
- VERO'S ORIGINAL CSS FOR NAV BAR
-
------------------------------------------------*/
.navLogo {
    align-self: center;
    /* margin-left: 1vw; */
    position: relative;
    right: -2vw;
    display: flex;
    text-decoration: none;
}
.navLogo:hover {
    text-decoration: none;
}

.navLogo img {
    margin-right: 20px;
}

.navBarItems {
    display: flex;
    justify-content: space-between;
    align-self: center;
    position: relative;
    left: -1vw;
}
.navBarItems a {
    color: var(--background);
    text-align: center;
    text-decoration: none;
    padding: 15px 40px;
    margin: 0 10px;
    border-bottom: var(--primary) solid 2px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
}
/* Use a.activeNav to highlight the active page you are on */
.navBarItems a:hover, a.activeNav {
    /* background-color: var(--primary); */
    border-bottom: var(--secondary) solid 2px;
    color: var(--secondary);
    /* text-decoration: underline; */
}

.navBarContainer .hamburgerMenu {
    display: none;
    background-color: red;
}





/*-----------------------------------------------
-
- ALL PAGES 
-
------------------------------------------------*/
.form-row {
    display: flex;
    align-items: center; 
    gap: 10px; 
}
/*-----------------------------------------------
-
- REPAIR.HTML
-
------------------------------------------------*/

#repairAssistantBorderStyling {
    background-color: var(--background);
    border-top: var(--secondary) 10px solid;
    border-left: var(--primary) 2px solid;
    border-right:var(--primary) 2px solid;
    border-bottom: var(--primary) 2px solid;
    border-radius: 10px; 
    padding: 20px 20px 50px 20px;
    margin: 20px auto auto auto;
}

.repair-assistant-background {
    background-image: url('images//imgs/repairAssistantBackground.jpg'); /* Path to your image */
    background-size: cover;
    background-position: center;
}

#repairSubmit {
    width: 100%
}
/*-----------------------------------------------
-
- RESULTS.HTML
-
------------------------------------------------*/
.startHidden {
    display: none;
}

hr.solid {
    border-top: 2px solid var(--accent);
    margin-top: 0;
  }

  .repairHeading {
    color: var(--purple)
  }

  .instructionArticle {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.displayRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.repairSubHeadings {
    color: var(--purple);
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15pt;
    margin: 20px;
}

.iconSpacing {
    margin-right: 30px;
    cursor:not-allowed;
}

.repairInstructions {
    margin-top:40px;
    border: 2px solid var(--purple);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.videoLink {
    border: 2px solid var(--purple);
    border-radius: 5px;
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

.materialsList {
    border: 2px solid var(--purple);
    border-radius: 5px;
    max-width: 30%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}
  iframe {
    width: 90%;
    aspect-ratio: 16 / 9;
    height: auto;
    margin-left: 5%;
    margin-bottom: 5%;
  }


/*-----------------------------------------------
-
- SECONDHAND.HTML
-
------------------------------------------------*/

/* .secondhand-hub-background {
    background-image: url('images/imgs/secondhandHubBackground.jpg');
    background-size: cover;
    background-position: center;
    z-index: 100;
} */

dialog {
    background-color: var(--background);
    border: 2px solid var(--primary);
    border-radius: 8px;
    color: var(--fontColor);
    position: relative;
    z-index: 0.5;
    padding: 0;
    justify-content: center; 
    align-items: center;
}

/* Make the form fill the dialog */
#selectPage {
    gap: 10px 20px;
    align-items: center;
    height: min-content; 
    margin: auto;
    padding: 30px;
    box-sizing: border-box; 
    background-color: var(--background);
    border-top: var(--primary) 10px solid;
    border-left: var(--primary) 2px solid;
    border-right:var(--primary) 2px solid;
    border-bottom: var(--primary) 2px solid;
    width: 60%; 
}

.secondarySecondhandForm {
    gap: 10px 20px;
    height: 70%;
    min-height:fit-content;
    margin: 20px auto auto;
    padding: 30px;
    box-sizing: border-box; 
    background-color: var(--background); 
    border-top: var(--primary) 10px solid;
    border-left: var(--primary) 2px solid;
    border-right:var(--primary) 2px solid;
    border-bottom: var(--primary) 2px solid;
    width: 70%; 
    display: none;
}

.secondPageFormStyling input, select, input[type="file"] {
    width: 100%;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.secondhandHeader > div {
    margin-bottom: 20px;
}

.greenButton {
    background-color: var(--secondary);
}
.greenButton:hover {
    background-color: var(--locationAvailable);
}
.cancelButton {
    width: 45%;
}
.greenSubmit {
    width: 45%;
}

























.resultsBox {
    background-color: var(--background);
    border-top: var(--secondary) 10px solid;
    border-left: var(--primary) 2px solid;
    border-right:var(--primary) 2px solid;
    border-bottom: var(--primary) 2px solid;
    border-radius: 10px; 
    padding-left: 20px;;
    margin: 20px auto auto auto;
}




.giveawayFormBorderStyling {
    background-color: var(--background);
    border-top: var(--locationAvailable) 10px solid;
    border-left: var(--primary) 2px solid;
    border-right:var(--primary) 2px solid;
    border-bottom: var(--primary) 2px solid;
    border-radius: 10px; 
    padding: 20px 20px 50px 20px;
    margin: 20px auto auto auto;
}

.requestFormBorderStyling {
    background-color: var(--background);
    border-top: var(--locationRequest) 10px solid;
    border-left: var(--primary) 2px solid;
    border-right:var(--primary) 2px solid;
    border-bottom: var(--primary) 2px solid;
    border-radius: 10px; 
    padding: 20px 20px 50px 20px;
    margin: 20px auto auto auto;

}






/* Default button style */
.buttonCheckedStyling {
    background-color: var(----background); 
    color: var(--fontColor);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s;
}
.giveAwayStyling {
    border: var(--locationAvailable) 2px solid;
    background-color: var(--background);
}

.giveAwayStyling:checked {
    background-color: var(--locationAvailable);
}
.giveAwayStyling:hover {
    background-color: var(--locationAvailable);
}

.requestStyling {
    border: var(--locationRequest) 2px solid;
}

.requestStyling:checked {
    background-color: var(--locationRequest);
}
.requestStyling:hover {
    background-color: var(--locationRequest);
}
    
.secondhandTypeStyling {
    border: var(--primary)2px solid;
    }

.secondhandTypeStyling:hover {
    background-color: var(--primary);
    color: var(--background)
    }

.secondhandTypeStyling:checked {
    background-color: var(--primary);
    color: var(--background)
    }
    

/* .fakeButton:hover .giveAwayStyling {
    background: var(--locationAvailable)
}

.fakeButton:checked .giveAwayStyling {
    background: var(--locationAvailable);
}

.fakeButton:hover .requestStyling {
    background: var(--locationRequest);
}

.fakeButton:hover .secondhandTypeStyling {
    background-color: var(--primary); 
    color: #ffffff;
} 
.fakeButton:checked .secondhandTypeStyling {
    background-color: var(--primary); 
    color: #ffffff;
}  */

button { 
font-family: 'Anek Telugu', sans-serif;
}

/* Apply the custom fonts to the form elements */
label, input, select, option, input::placeholder, textarea::placeholder, input[type="search"], input[type="search"]::placeholder, input[type="file"]{
    font-family: 'Anek Telugu', sans-serif;
    margin: 5px;
}

input[type="search"]{
    min-width: 50vw;
}

/* Input styling */
input, select {
    /* width: 100%;  */
    padding: 10px; /* Add some padding */
    border: 1px solid var(--disabledBackground); /* Example border style */
    border-radius: 5px;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
background-color: #ffdddd;
}

.formHeading {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30pt;
    margin-top: 0;
    text-align: center;
}


#repairAssistantPage {
    background-image: url(images/imgs/repairAssistantBackground.jpg);
    background-size: cover;
    background-position: center;
}


#repairAssistantForm select {
    width: 100%;
    height:fit-content
}

.redCircle {
    width: 10px;
    height: 10px;
    background-color: var(--locationRequest); /* Change this to the desired color */
    border-radius: 50%;
    margin-right: 8px; /* Space between the circle and the text */
}

.greenCircle {
    width: 10px;
    height: 10px;
    background-color: var(--locationAvailable); /* Change this to the desired color */
    border-radius: 50%;
    margin-right: 8px; /* Space between the circle and the text */
}


.option {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 40%;
}

.option .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
}


.iconSize {
    height: 15px;
    width: auto;
    margin-left: 10px
}


.redAsterisk {
    color: var(--locationRequest)
}

.resourcesHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;
}
.diyRepairContainer {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    border: var(--purple) solid 3px;
    border-radius: 10px;
}
.localRepairContainer {
    margin-left: 10px;
    border: var(--fontColor) solid 3px;
    border-radius: 10px;
}


/* styling for each resource card */
.resource {
    border-radius: 20px;
    background-color: var(--background);
    filter: drop-shadow(0px 2px 2px var(--disabledBackgroundHover));
    display: flex;
    flex-direction: column;
}
.rTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 15px
}
.rTitle h2, .rTitle p {
    margin: 10px;
}

#recommendedPurple, #recommendedBlack {
    width: auto;
    height:auto;
    display: none;
}

.bookmarkIcon {
    height: 35px;
    align-self: center;
}
.rThumbnail {
    align-self: center;
}
.rThumbnail img {
    border-radius: 5px;
}
.rTags {
    display: flex;
    flex-direction: row;
    align-self: center;
}


/* styling each individual tag */
.rTags p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 10px;
    padding: 5px 10px;
    border-radius: 5px;
}
.diyTags p {
    background-color: var(--accent);
}
.serviceTags p {
    background-color: var(--disabledBackground);
}

.serviceTags {
    margin-right: 40%;

}


.rTags img {
    height: 20px;
    width: auto;
    margin-right: 15px;
}





.purpleButton {
    background-color: var(--purple);
    width: 82%;
    align-self: center;
    margin-bottom: 20px;
    color: var(--background)
}

.blackButton {
    background-color: var(--fontColor);
    width: 82%;
    align-self: center;
    margin-bottom: 20px;
    color: var(--background)
}

.recommendationContainer {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}


#diyButton:hover, #localButton:hover {
    text-decoration: underline;
}


li {
    font-family: "Anek Telugu", sans-serif;
    font-size: 15pt;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


/* .materialsList, .videolink {
    width: 40%;
} */

.sideBySide {
    display: flex;
    flex-direction: row;
    gap: 20px;  
}

#materialCardContainer {
    margin: 20px;

}

.newTagImage {
    height: 35px;
    width: auto;
}





/*-----------------------------------------------
-
- SECONDHAND.HTML MAP STYLING AUTHOR: VERO
-
------------------------------------------------*/

.dotAvailable, .dotRequest {
    display: inline-flex;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 15px;
}
.dotAvailable {
    background-color: var(--locationAvailable);
}
.dotRequest {
    background-color: var(--locationRequest);
}

/* changes the Leaflet Map marker colours */
img.sechandMarkerHueChangeReq {
    filter: brightness(0) saturate(100%) invert(42%) sepia(99%) saturate(5063%) hue-rotate(350deg) brightness(110%) contrast(101%);
}
img.sechandMarkerHueChangeAvail {
    /* filter: brightness(0) saturate(100%) invert(84%) sepia(10%) saturate(1552%) hue-rotate(55deg) brightness(95%) contrast(88%); */
    filter: brightness(0) saturate(100%) invert(28%) sepia(9%) saturate(5486%) hue-rotate(134deg) brightness(93%) contrast(90%);
}

/* main page container & title + button */
.secondhandHub, .secondhandHeader {
    display: flex;
    flex-direction: column;
}
.secondhandHeader>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* contains map and cards */
.secondhandMapPage {
    margin-top: 20px;
    align-self: center;
    background-color: var(--background);
    border-radius: 15px;
    height: 85vh;
    width: 90vw;
}

.mapContainer {
    display: flex;
    flex-direction: row;
}
#secondhandMap {
    height: 75vh;
    width: 70%;
}
.sechandCardContainer {
    margin-left: 25px;
    height: 75vh;
    width: 30%;
    overflow-y: scroll;
}

.sechandCard {
    background-color: var(--background);
    border: var(--disabledBackgroundHover) solid 2px;
    filter: drop-shadow(0px 2px 2px var(--disabledBackgroundHover));
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.sThumbnail {
    margin: 0px 5px;
    width: 100%;
    height: 100px;
    align-self: center;
}
.sThumbnail>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}

.sInfo {
    margin: 15px 25px;
}
.sInfo p img {
    width: 20px;
    height: auto;
    margin-right: 15px;
}
/* styling the actual text elements */
.sechandCard p {
    margin: 0px;
}
.sButton {
    align-self: center;
    width: 90%;
    margin-bottom: 15px;
}
.sButton button {
    width: 100%;
    background-color: var(--fontColor);
    color: var(--background);
    text-decoration: none;
}
.sButton button:hover {
    text-decoration: underline;
}


/*-----------------------------------------------
-
- MATERIAL CARDS: VERO
-
------------------------------------------------*/

/* All material card styling */
.materialCardNew, .materialCardAvailable, .materialCardRequest {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 425px;
    /* max-height: 30vh; */
    height: 300px;
    justify-content: space-between;
    background-color: var(----background); 
}
/* Recently added material card */
.materialCardNew {
    border: var(--locationAvailable) solid 3px;
    background-color: var(--background); 
}
.dotAvailable, .dotRequest {
    display: inline-flex;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.dotAvailable {
    background-color: var(--locationAvailable);
}
.dotRequest {
    background-color: var(--locationRequest);
}
.matInfoContainer {
    margin: 0px 15px 10px 15px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}
.matName {
    margin-top: 0px;
    margin-bottom: 10px;
}
.matInfo p {
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--background); 
}
/* label icons below */
.matInfoContainer img {
    height: auto;
    width: 20px;
}
.dotAvailable, .dotRequest, .matInfoContainer img {
    margin-right: 15px;
}

/* thumbnail of material card */
.matPicContainer {
    width: 100%;
    height: 100px;
}
.matPic {
    border-radius: 15px 15px 0 0;
    align-self: center;
    justify-self: flex-end;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.materialCardAvailable {
    border: var(--locationAvailable) solid 3px;
}
.materialCardRequest {
    border: var(--locationRequest) solid 3px;
}