/* Style for the sustainability icon */
._sustainability_button {
    position: fixed;
    right: 20px;
    top: 100%;
    transform: translateY(-50%);
    width: 60px; /* Set width */
    height: 60px; /* Set height */
    cursor: pointer;
    z-index: 9999; /* Ensure it appears above other elements */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; /* Optional: Add a background color to make the icon more visible */
    border: 2px solid #ccc; /* Optional: Add a border for better visibility */
    border-radius: 50%; /* Make it circular */
}

/* Ensure the icon image fills the button */
._sustainability_button img {
    width: 10%;
    height: 10%;
    border-radius: 50%; /* Round the image if needed */
}
img {
    max-width: 170px;  /* Limit the maximum width of the image */
    max-height: 100px; /* Limit the maximum height of the image */
    width: auto;
    height: auto;
    cursor: pointer;
}
